<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
	  
      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.select :name,["Beuwick","Picasso","Van Gogh","other"] %>
  </div>
  
   <div class="field">
    <%= f.label :dob %><br />
    <%= f.text_field :dob, :id => :datepicker %>
  </div>
  
 
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
